@page "/studios"
@layout MainLayout
@inherits Admin.Pages.StudiosComponent

@using Radzen
@using Radzen.Blazor
@using Admin.Models.Suchimnu
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Studios">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenSplitButton Icon="get_app" style="margin-left: 10px; margin-bottom: 10px" Text="Export" Click="@Splitbutton0Click">
          <ChildContent>
            <RadzenSplitButtonItem Text="Excel" Value="xlsx">
            </RadzenSplitButtonItem>
            <RadzenSplitButtonItem Text="CSV" Value="csv">
            </RadzenSplitButtonItem>
          </ChildContent>
        </RadzenSplitButton>
        <RadzenTextBox Placeholder="Search ..." style="display: block; margin-bottom: 10px; width: 100%" Name="Textbox0" @oninput="@(async(args) => {search = $"{args.Value}";await grid0.GoToPage(0);await grid0.Reload();})">
        </RadzenTextBox>
        <RadzenDataGrid @ref="grid0" AllowFiltering="true" FilterMode="Radzen.FilterMode.Advanced" AllowPaging="true" AllowSorting="true" Data="@getStudiosResult" Count="@getStudiosCount" TItem="Admin.Models.Suchimnu.Studio" LoadData="@Grid0LoadData" RowDoubleClick="@Grid0RowDoubleClick">
          <Columns>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Property="Id" Title="Id">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Property="Name" Title="Name">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Property="Location" Title="Location">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Property="Email" Title="Email">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Property="ImageUrl" Title="Image Url">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Property="Url" Title="Url">
            </RadzenDataGridColumn>
            <RadzenDataGridColumn TItem="Admin.Models.Suchimnu.Studio" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="adminModelsSuchimnuStudio">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, adminModelsSuchimnuStudio))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenDataGridColumn>
          </Columns>
        </RadzenDataGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
